<?xml version="1.0"?>
<config>
    <modules>
        <PagarMe_V2_Core>
            <version>2.0.0</version>
        </PagarMe_V2_Core>
    </modules>
    <global>
        <helpers>
            <pagarme_v2_core>
                <class>PagarMe_V2_Core_Helper</class>
            </pagarme_v2_core>
        </helpers>
        <events>
            <resource_get_tablename>
                <observers>
                    <pagarme_v2_core>
                        <class>PagarMe_V2_Core_Model_Observer_Autoloader</class>
                        <method>registerSplAutoloader</method>
                    </pagarme_v2_core>
                </observers>
            </resource_get_tablename>
        </events>
        <models>
            <pagarme_v2_core>
                <class>PagarMe_V2_Core_Model</class>
                <resourceModel>pagarme_v2_core_resource</resourceModel>
            </pagarme_v2_core>
            <pagarme_v2_core_resource>
                <class>PagarMe_V2_Core_Model_Resource</class>
                <entities>
                    <transaction>
                        <table>pagarme_v2_transaction</table>
                    </transaction>
                </entities>
            </pagarme_v2_core_resource>
        </models>
        <resources>
            <pagarme_v2_core_setup>
                <setup>
                    <module>PagarMe_V2_Core</module>
                    <class>PagarMe_V2_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pagarme_v2_core_setup>
            <pagarme_v2_core_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pagarme_v2_core_write>
            <pagarme_v2_core_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pagarme_v2_core_read>
        </resources>
    </global>
    <frontend>
        <routers>
            <pagarme_v2_core>
                <use>standard</use>
                <args>
                    <module>PagarMe_V2_Core</module>
                    <frontName>pagarme</frontName>
                </args>
            </pagarme_v2_core>
        </routers>
        <translate>
            <modules>
                <pagarme_v2_core>
                    <files>
                        <default>PagarMe_V2_Core.csv</default>
                    </files>
                </pagarme_v2_core>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <pagarme_v2_core>
                    <files>
                        <default>PagarMe_V2_Core.csv</default>
                    </files>
                </pagarme_v2_core>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <payment>
            <pagarme_v2_checkout>
                <active>0</active>
                <model>pagarme_v2_checkout/checkout</model>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <payment_methods>credit_card,boleto</payment_methods>
                <payment_action>authorize</payment_action>
            </pagarme_v2_checkout>
            <pagarme_v2_creditcard>
                <active>1</active>
                <model>pagarme_v2_creditcard/creditcard</model>
                <order_status>pending</order_status>
                <allowspecific>0</allowspecific>
                <payment_methods>credit_card,boleto</payment_methods>
                <payment_action>authorize</payment_action>
            </pagarme_v2_creditcard>
            <pagarme_v2_settings>
                <checkout_title>Pagarme Checkout</checkout_title>
                <checkout_button_text>Realizar pagamento</checkout_button_text>
                <creditcard_interest_rate>0</creditcard_interest_rate>
                <creditcard_free_installments>1</creditcard_free_installments>
                <creditcard_max_installments>1</creditcard_max_installments>
                <creditcard_allowed_creditcard_brands>visa,mastercard,amex,hipercard,aura,jcb,diners,elo,discover</creditcard_allowed_creditcard_brands>
                <creditcard_title>Pagamento com cartão de crédito</creditcard_title>
                <checkout_capture_customer_data>true</checkout_capture_customer_data>
                <checkout_button_text>Realizar pagamento</checkout_button_text>
                <boleto_discount>0</boleto_discount>
                <boleto_discount_mode>no_discount</boleto_discount_mode>
                <boleto_title>Pagamento com boleto</boleto_title>
                <checkout_payment_methods>credit_card,boleto</checkout_payment_methods>
                <payment_action>authorize_capture</payment_action>
                <checkout_capture_customer_data>false</checkout_capture_customer_data>
            </pagarme_v2_settings>
        </payment>
    </default>
</config>
